# WayForPay
WFP_MERCHANT_ACCOUNT=
WFP_MERCHANT_SECRET=
WFP_MERCHANT_DOMAIN=
WFP_SERVICE_URL=

# Brevo SMTP
BREVO_SMTP_HOST=
BREVO_SMTP_PORT=
BREVO_SMTP_LOGIN=
BREVO_SMTP_PASSWORD=
BREVO_SENDER_EMAIL=

# Frontend (вказує, куди cart.js відправляє запит на checkout)
CHECKOUT_ENDPOINT=
